<h2><%= movie.name || "New Movie" %></h2>

<% form movie, { action: form_action, enctype: "multipart/form-data" }, labeler: :explicit do |f| %>
  <%= f.input :hidden, name: "_method", value: form_method, obj: nil %> <%# # used in tandem with Rack::MethodOverride to enable PUT requests %>
  <div class="form-group">
    <%= f.input :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.input :video, type: :hidden, value: movie.cached_video_data, id: "movie-video-upload-result", label: nil %>
    <%= f.input :video, type: :file, id: "movie-video-field", data: { "upload-result-element": "movie-video-upload-result", "preview-element": "movie-video-preview" }, value: nil %>
  </div>
  <div class="video-preview">
    <a href="<%= movie.video_url %>" id="movie-video-preview"><%= movie.video_url(public: true) %></a>
  </div>
  <%= f.button "Submit", class: "btn btn-primary" %>
<% end %>
